@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-familiy: "Jersey 25";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
}
