---
import BaseLayout from "@/layouts/BaseLayout.astro";
import DividerComponent from "@/components/react/Divider";
---

<BaseLayout>
    <main
        class="mx-auto flex min-h-screen max-w-[960px] flex-col gap-4 md:py-16"
    >
        <div>
            <h1 class="text-4xl foreground font-jersey">
                Welcome to the CTF Repository!
            </h1>
            <p class="text-3xl foreground font-jersey">
                You can find all sorts of things related to CTFs here, including
                writeups, upcoming CTFs and others!
            </p>
        </div>
    </main>
</BaseLayout>
