---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<main
		class="mx-auto flex min-h-screen max-w-[960px] flex-col gap-9 md:gap-20 md:py-16"
	>
		<h1 class="text-3xl foreground font-jersey">Hello</h1>
	</main>
</BaseLayout>
