---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
	<main
		class="mx-auto flex min-h-screen max-w-[990px] flex-col gap-2 md:py-16"
	>
		<h1 class="text-8xl foreground font-jersey">CTFBox</h1>
		<h2 class="text-2xl foreground font-jersey">
			Welcome to CTFBox,
			<br />
			A platform for everyhing about Capture The Flag (CTF) challenges!
		</h2>
	</main>
</BaseLayout>
