---
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <script
      src="https://kit.fontawesome.com/85b199d966.js"
      crossorigin="anonymous"></script>
  </head>
  <body class="bg-gray-800">
    <Navbar
      logoHref="https://github.com/shard77/ctfbox"
      logoSrc="/front-end/src/assets/images/ctfbox-nobg.png"
      logoAlt="CTFBox Logo"
      logoText="CTFBox"
      menuItems={[
        { href: "/", text: "Index" },
        { href: "/login", text: "Login" },
        { href: "/register", text: "Register" },
      ]}
    />
    <main>
      <slot />
    </main>
  </body>
</html>
